.site-content {
    padding: 1em;
    
    @media screen and (min-width: $query__small) {
        padding: 2em;
    }
/*    @media screen and (min-width: $query__medium) {
        padding: 3em;
    }*/
}