body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__sans_text;
	@include font-size(.9);
	line-height: $font__line-height-body;
        
        @media screen and (min-width: 700px) {
            @include font-size(1);
        }
}

@import "headings";

@import "copy";