$font__sans_text: 'Poppins', Geneva, sans-serif;
$font__sans_headings: 'Raleway', Geneva, sans-serif;
$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;